@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,500;1,500&display=swap');

body{
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #141414;
}

h1, h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    color: #ffffff;
    text-align: center;
}

h2 {
    font-size: 20px;
}

h3 {
    color: #f9c5b8;
    font-size: 0.8em;
    font-style: italic;
}

.hero__video {
    position: relative;
    height: 96vh;
    width: 100%;
    overflow: hidden;
}

.hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1; /* La vidéo doit rester derrière le contenu */
}

/* Placement du titre */
.hero__text{
    display: flex;
    justify-content: center;
}

.hero__title{
    text-align: left;
    font-size: 45px;
    text-shadow: 2px 1.5px 0px #F9C5B8;
}

/* Général */
/* Conteneur global de l'entête */
.hero__entete {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    /* Aligne les éléments en haut verticalement */
    position: relative; /* Pour que le logo centré soit ancré correctement */
    padding: 20px;
    height: 16em; 
    /* Visual Wonders est mieux centré */
}

/* Espace vide à gauche pour équilibrer */
.hero__gauche {
    flex: 1;
}

/* Conteneur du logo avec position relative */
.hero__logo-container {
    position: relative;
    flex: 0; /* Le logo ne prend pas de flexibilité, juste sa taille */
}

/* Logo centré avec position absolute */
.hero__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Taille maximale du logo pour qu'il soit toujours visible */
.hero__logo img {
    max-width: 40px;
    height: auto;
}

/* Menu aligné à droite */
.hero__menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

/* Liste de navigation */
.hero__nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

/* Liens du menu */
.hero__nav li {
    margin: 3px 0;
    display: flex;
    flex-direction: row-reverse;
}

.hero__nav li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
}

/* Section avec selected works */

.description {
    text-align: center;
    color: #ffffff;
    margin: 28px auto;
    max-width: 600px; /* Ajustez la largeur à celle de la maquette */
    font-size: 13px; /* Ajustez la taille de la police à celle de la maquette */
    line-height: 1.4; /* Ajustez l'interligne pour correspondre à la maquette */
    padding-left: 60px;
    padding-right: 55px;
}

.section__selected-works, .references {
    margin-top: 45px;
    text-align: center;
}

.section__selected-works {
    margin-bottom: 40px;
}

.references {
    margin-bottom: 60px;
}

.section__title, .references__title {
    margin-bottom: 0;
}


.section__cta, .references__cta {
    color: #ffffff;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}

/* Taille des images */
.collection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 15px; /* 20px de marge à gauche et à droite, ajuste selon tes besoins */
}


.card__img-container {
    height: 140px; /* Ajuster la taille au besoin */
    width: 100%;
    overflow: hidden;
    position: relative;
}

.card__img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pour que l'image soit coupée correctement */
}
/* Travail sur le footer */
.footer__liens{
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 0;
}
.footer__liens li{
    padding-left: 5px;
    padding-right: 5px;
}
.footer {
    border-top: 1px solid #ffffff;
}

.footer__liens a {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.7em;
}


/* Définition du pointbreak et du positionnement des cartes */

/* Version mobile */
/* Masque le saut de ligne sur les écrans larges (versions desktop) */
.mobile-break {
    display: none;
}

@media screen and (max-width:768px){
    .collection{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .card{
        width: calc((100% - 1 * (10px))/ 2);
        /* pour permettre que les cartes s'alignent, 5px c'est le gap. Je prends la moitié du padding soit 5px. Le pourcentage c'est la taille totale. Bien mettre un espace autour des opérations */
        overflow: hidden; /* Ensure content doesn't overflow */
    }
    .mobile-break {
        display: inline;
    }

    
}


/* Version laptop */
@media screen and (min-width:768px){
    .collection{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .card{
        /* (largeur totale - nombre de gap * valeur du gap) / nombre de carte */
        width: calc((100% - 3 * (10px) ) / 4);
        overflow: hidden; /* Ensure content doesn't overflow */
       
    }
    .hero__video {
        height: 91vh;
    }
    .hero__logo img {
        max-width: 60px;
    }
    .hero__nav li a {
        font-size: 14px;
    }
    .hero__title{
        font-size: 50px;
    }
    .hero__entete {
        padding-left: 10px;
        padding-right: 10px;
        height: 14em;
    }
    .description {
        padding-top: 15px;
        padding-left: 200px;
        padding-right: 200px;
    }
    .section__selected-works {
        margin-bottom: 60px;
    }
    h2 {
        font-size: 25px;
    }
    .card__img-container {
        height: 93px;
    }
    .collection {
        margin: 0 60px;
    }
    .footer__liens{
        margin-bottom: 25px;
    }
    .footer {
        margin: 0 60px; /* Ajuster la valeur pour avoir plus ou moins d'espace */
    }
    
}
